body {
  background-color: lightgray;
}

img {
  padding: 20px;
}
.col {
  text-align: center;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: #6c63ff;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  justify-content: center;
}
